.product-card {
  margin: 0 1.25rem 2rem;
}

.image-container img {
  display: block;
  width: 100%;
}

.product-information {
  background-color: #fff;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.product-name {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  color: #0d0d0d;
  margin-bottom: 1rem;
}

/* iPhone */
@media screen and (max-width: 767px) {
  .product-card {
    width: 44%;
    margin: 0 0.5rem 1.5rem 0.5rem;
  }

  .product-name {
    font-family: "Lora", serif;
    color: #0d0d0d;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}